<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navmenu">
        
      </button>
      <a class="navbar-brand" href='/'>ノるナビ</a>
    </div>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="nav navbar-nav navbar-right">
        <% if login? %>
          <li><%= link_to current_user.name, user_path(current_user) %></li>
          <li class="dropdown" >
            <a href='#' data-toggle="dropdown" role="button" ria-expanded="false">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href='#'>メニュー</a></li>
              <li><%= link_to 'プロフィール編集', edit_user_path(current_user) %></li> 
              <li><%= link_to 'ログアウト',logout_path, method: :delete %></li>
              
            </ul>
            
          </li>
        <% else %>
          <li><%= link_to 'ログイン', login_path %></li>
          <li><%= link_to '新規登録', new_user_path %></li>
        <% end %>
      </ul>
        
        
        
      
    </div>
  </div>
  
</nav>